.git
.gitignore
.gitattributes
.github
.idea
.vscode
.fleet
.editorconfig
.env
.env.*
!.env.example
.phpunit.result.cache
.phpunit.cache
node_modules
public/build
public/hot
public/storage
storage/*.key
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
vendor
docker-compose*.yml
Dockerfile
.dockerignore
README.md
*.md
tests
phpunit.xml
*.log
*.sqlite
*.sqlite-journal
